{% extends "base.html" %}
{% block content %}
<body>
   <div class="wrapper">
      <!-- Page Content  -->
      <div id="content">
         <h1 style="text-align: center;"><strong>Contact Form</strong></h1>
         <!--Contact form-->
         <div class = 'contact' style="margin:80px">
            <h4>Contact us directly if you have any questions</h4>
            <p>
               Please write your name, email address and a message below if you have any questions.
               We will be happy to contact you directly and answer your questions as soon as possible.
            </p>
            <form method="post">
               {% csrf_token %}
               {{form.as_p}}
               <button type="submit">Submit</button>
            </form>
         </div>
      </div>
   </div>
{% endblock content %}




