{% extends "base.html" %}

{% block content %}
<section class="py-5 text-center container">
    <div id="content">
        <h1 style="text-align: center;">News Area:</h1>
        {% for new, des, i in mylist %}
        <div class="container">
            <img src="{{ i }}" alt="" class="news">
            <h1 style="font-size:200%; text-align:center;">{{news}}</h1>
                {{ new }}
                {{ value|linebreaks }}
                {{ des }}
                {{ value|linebreaks }}
        </div>
        {% endfor %}
    </div>
</section>
{% endblock content %}
